page-login {
    $grey: #60646B;
    $red: #f53d3d;
    $brown1: #29221A;
    $brown2:#473E28;
    $brown3:#867446;
    $light: #f4f4f4;
    $white: #FFF;

    ion-content{
        background-color:$brown1!important;
    }
    ion-grid{
        position: relative;
        transform: translate(0px, -50%);
        top: 50%;
    }
    ion-item{
        background-color:transparent!important;
        padding-left:0px!important;
    }
    .item-inner{
        border-bottom-color: $brown3!important;
    }
    .text-input{
        color: $white!important;
    }
    ion-label{
        color: $brown3!important;
    }
    #enter{
        margin: 15px 0px!important;
    }
    button{
        width: 100%!important;
        margin: 0 auto!important;
    }
    
}
