page-profile {
$grey: #60646B;
$red: #f53d3d;
$brown1: #29221A;
$brown2:#473E28;
$brown3:#867446;
$light: #f4f4f4;
$white: #FFF;

    #btn-filter{
        height:1.8em;
    }

    #divisor-profile{
        margin-bottom:0px;
    }

    .segment-ios{
        padding-left:16px;
        padding-right:16px;
    }
}
