<ion-header>
  <ion-navbar>
    <ion-title>{{user.username}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-refresher [enabled]="['publications', 'saved', 'liked'].includes(actualSegment)" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Atualize os dados"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <profile [user]="user" [me]="true"></profile>

  <ion-segment [(ngModel)]="actualSegment" color="brown1" (ionChange)="segmentChanged()">
    <ion-segment-button value="publications" [hidden]="!user.authorId"><ion-icon name="book"></ion-icon></ion-segment-button>
    <ion-segment-button value="folders" [hidden]="!user.authorId"><ion-icon name="folder"></ion-icon></ion-segment-button>
    <ion-segment-button value="saved"><ion-icon name="bookmark"></ion-icon></ion-segment-button>
    <ion-segment-button value="liked"><ion-icon name="thumbs-up"></ion-icon></ion-segment-button>
  </ion-segment>

  <hr showWhen="ios" margin-top id="divisor-profile">
  
  <div *ngIf="(publicationsData.length && actualSegment == 'publications') || (savedData.length && actualSegment == 'saved')">
        <button ion-button icon-end clear color="grey" id="btn-filter" (click)="openedSearch ? setOpenedSearch(false) : setOpenedSearch()">
          {{openedSearch ? "Encerrar filtragem" : "Filtrar"}}
          <ion-icon *ngIf="!openedSearch" name="funnel"></ion-icon>
          <ion-icon *ngIf="openedSearch"  name="close"></ion-icon>
        </button>
        <ion-grid *ngIf="openedSearch" id="search-wrapper" [@enterAnimation]>
          <ion-item>
            <ion-input type="text" placeholder="Termo a ser buscado" [(ngModel)]="filter.term"></ion-input>
          </ion-item>
          <ion-item *ngIf="actualSegment == 'saved'">
            <ion-input type="text" placeholder="Especificar um autor" [(ngModel)]="filter.author"></ion-input>
          </ion-item>
          <ion-row>
            <ion-item>
              <ion-label class="correct-label">Categorias</ion-label>
              <ion-select [(ngModel)]="filter.category" multiple="true" okText="Confirmar" cancelText="Cancelar">
                <ion-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <ion-label class="correct-label">De</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="filter.since" doneText="Confirmar" cancelText="Cancelar"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-label>Até</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="filter.until"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <button ion-button round outline icon-start color="brown3" type="submit" (click)="search()">
                <ion-icon name="search"></ion-icon>
                Pesquisar
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
  </div>

  <div [ngSwitch]="actualSegment">
    <div *ngSwitchCase="'publications'">
      <p id="label-publication-notfound" margin-top *ngIf="!loadingPublications && !publications.length">Nenhuma publicação foi encontrada</p>
      <ion-spinner margin-top *ngIf="loadingPublications" class="center-spinner"></ion-spinner>
      <publication [hidden]="loadingPublications" *ngFor="let publication of publications" [publication]="publication"></publication>
    </div>

    <div *ngSwitchCase="'folders'" id="segment-folder">
      <button ion-button round block outline color="brown3" *ngIf="!loadingFolders" (click)="openFolders()" icon-start>
        <ion-icon name="folder"></ion-icon>
        Gerenciar pastas
      </button>
      <p id="label-publication-notfound" margin-top *ngIf="!loadingFolders && !folders.length">Nenhuma pasta foi encontrada</p>
      <ion-spinner margin-top *ngIf="loadingFolders" class="center-spinner"></ion-spinner>
      <folders [hidden]="loadingFolders" [folders]="folders" [user]="user"></folders>
    </div>

    <div *ngSwitchCase="'saved'">
      <p id="label-publication-notfound" margin-top *ngIf="!loadingSaved && !saved.length">Nenhuma publicação salva foi encontrada</p>
      <ion-spinner margin-top *ngIf="loadingSaved" class="center-spinner"></ion-spinner>
      <publication [hidden]="loadingSaved" *ngFor="let publication of saved" [publication]="publication"></publication>
    </div>

    <div *ngSwitchCase="'liked'">
      <p id="label-publication-notfound" margin-top *ngIf="!loadingLiked && !liked.length">Nenhuma publicação curtida foi encontrada</p>
      <ion-spinner margin-top *ngIf="loadingLiked" class="center-spinner"></ion-spinner>
      <publication [hidden]="loadingLiked" *ngFor="let publication of liked" [publication]="publication"></publication>
    </div>
  </div>

  <ion-infinite-scroll [enabled]="['publications', 'saved', 'liked'].includes(actualSegment)" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
