page-user{
    #btn-filter{
        height:1.8em;
    }

    #divisor-profile{
        margin-bottom:0px;
    }

    .segment-ios{
        padding-left:16px;
        padding-right:16px;
    }

    #segment-folder{
        button{
            width:80%;
            margin: 0 auto;
            margin-top:2%;
        }
    }
}
