<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon item-left name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Altere a sua senha</ion-title>
    <ion-buttons right>
      <button ion-button icon-only [disabled]="!password.valid" (click)="edit()">
        <ion-icon item-right name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="password" (ngSubmit)="edit()">
    <ion-item>
      <ion-label floating>Atual senha</ion-label>
      <ion-input type="{{showPass ? 'text' : 'password'}}" clearOnEdit="false" (ionChange)="validationServer = {}" formControlName="password"></ion-input>
      <button *ngIf="showPass" class="hidePassword" ion-button clear color="brown3" type="button" item-right (click)="showPass = false"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
      <button *ngIf="!showPass"  class="hidePassword" ion-button clear color="brown3" type="button" item-right (click)="showPass = true"> <ion-icon name="ios-eye-outline"></ion-icon></button>
    </ion-item>
    <div class="form-validation">

    </div>
    <div class="form-validation">
      <p class="error" *ngIf="validationServer?.incorrectPassword">A sua senha atual está incorreta</p>
    </div>
    <div class="form-validation" *ngIf="!password.controls.password.valid && password.controls.password.touched">
      <p class="error" *ngIf="password.controls.password.errors.minlength">A senha precisa no mínimo de 6 caracteres</p>
      <p class="error" *ngIf="password.controls.password.errors.maxlength">A senha não pode exceder 30 caracteres</p>
      <p class="error" *ngIf="password.controls.password.errors.required">A atual senha é necessário</p>
    </div>

    <ion-item>
      <ion-label floating>Nova senha</ion-label>
      <ion-input type="{{showPass2 ? 'text' : 'password'}}" clearOnEdit="false" formControlName="newPassword"></ion-input>
      <button *ngIf="showPass2" class="hidePassword" ion-button clear color="brown3" type="button" item-right (click)="showPass2 = false"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
      <button *ngIf="!showPass2"  class="hidePassword" ion-button clear color="brown3" type="button" item-right (click)="showPass2 = true"> <ion-icon name="ios-eye-outline"></ion-icon></button>
    </ion-item>
    <div class="form-validation" *ngIf="!password.controls.newPassword.valid && password.controls.newPassword.touched">
      <p class="error" *ngIf="password.controls.newPassword.errors.minlength">A senha precisa no mínimo de 6 caracteres</p>
      <p class="error" *ngIf="password.controls.newPassword.errors.maxlength">A senha não pode exceder 30 caracteres</p>
      <p class="error" *ngIf="password.controls.newPassword.errors.required">A nova senha é necessário</p>
    </div>
  </form>
</ion-content>
