page-user-password-edit {
    ion-item{
        background-color:transparent!important;
        padding-left:0px!important;
    }
    .hidePassword{
        ion-icon{
            font-size:30px;
        }
        align-self:flex-end!important;
    }
}
